@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: antiquewhite;
  border-radius: 6px;
}

body{ 
  background-color: beige;
}

a{
  text-decoration: 0;
  color: black;
  font-weight: 400;
  font-size: 70%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

ul{
  list-style:none;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8%;
  padding: 20px 0;
  border-bottom: 1px solid black;
}
                                                                 
.header-logo{ 
  font-weight: 500;
  font-size: 25px;
}

.header-menu{
  display: flex;
  font-size: 20px;
}

.header-menu a{
  display: flex;
  margin-left: 20px;
  padding-bottom: 3px;
  position: relative;
}

.header-menu a::after{ 
  position: absolute;
  left: 0;
  bottom: -2px;
  content: "";
  height: 1px;
  width: 0%;
  background-color: black;
  transition: 0.5s ease-out;
}

.header-menu a:hover:after{ 
  width: 100%;
}

.header-button a { 
  margin-left:20px ;
}

.header-button a:last-child{ 
  border: 1px solid black;
  padding: 10px 30px;
  transition: 0.5s;
}

.header-button a:last-child:hover{
  background-color: black;
  color: aliceblue;
}

.title{
  text-transform: uppercase;
  font-size: 60px;
  letter-spacing: 2px;
  color: #5e493a;
}
                                                                                                                    
p{
  color: burlywood;                                                 
  margin: 20px 0;
  letter-spacing: 2px;
  font-size: 13px;
  line-height:25px;
}
                                          
.home{
  padding: 0 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh -8px);
  width: 100%;
}

.home-left{
  width: 35%;
}
                
.home-right{
  width: 60%;
  height: 500px;
}

*.home-right img{ 
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 50px;
  padding-top: 10px;
}

.home-button button{
  border:  1px solid black;
  cursor: pointer;
  padding: 10px 25px;
  background-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.home-button button:hover{ 
  background-color: #000;
  color: #eae2d2;
  transition: 0.5s ease-out;
}

.home-about-us{
  position: absolute;
  top: 61px;
  right: 8%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  flex-direction: column;
  background-color: #eae2d2;
  transition: 0.3s ease-out;
  overflow: hidden;
  width: 0%;
}

.home-about-us img{
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.home-button button:last-child{
  margin-left: 10px;
}

.home-button button:last-child:focus .home-about-us{
  width: 52%;
  border-left:1px solid #5e493a  ;
}

.best-sale{
padding: 20px 8%;
}

.best-sales-product{
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(6,1fr);
  grid-column-gap:10px ;
  grid-row-gap:10px ;
  height: 80vh;
}

.div1{
  grid-area: 1 / 1 / 6 / 3;
}

.div2{
  grid-area: 2 / 3 / 7 / 5;
}

.div3{
  grid-area: 1 / 5 / 7 / 6;
}

.div4{
  grid-area: 1 / 3 / 2 / 5;
}

.div5{
  grid-area: 6 / 1 / 7 / 3;
}

.div6{
  grid-area: 1 / 6 / 6 / 8;
}

.div7{
  grid-area: 6 / 6 / 7 / 8;
}

.best-sales-product div img{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 0.5s ease-out;
}

.best-sales-product div img:hover{
  filter: grayscale(0);
}

.best-sales-product span{
  color: #5e493a;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}

.div5, .div4, .div7, .div3{
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.div3{
  width: 10em;
  background-color: #000;
}

.div3 span{
  transform: rotate(90deg);
  color: #fff;
  font-size: 60px;
}

footer{
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-column-gap: 35px;
  grid-row-gap:0px ;
  padding: 35px 8%;
  margin-top: 35px;
  text-transform: uppercase;
}


.col1{
  grid-area: 1 / 1 / 4 / 4 ;
}

.col2{
  grid-area: 1 / 4 / 4 / 6 ;
}

.col3{
  grid-area: 1 / 6 / 4 / 8 ;
}

.col4{
  grid-area: 1 / 8 / 4 / 10 ;
}

.col2 , .col3{
  display: flex;
  flex-direction: column;
}

.footer_newletter{
  border: 1px solid #000 ;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  width: 85%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.footer_newletter input{
  width: 75%;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.footer_newletter button{
   background-color: transparent;
   width: 76px;
   height: 100%;
   border: 0;
   transition: 0.2s;
   cursor: pointer;
}

.footer_newletter button:hover{
  font-weight:bold ;
}

.icons{
  display: flex;
}

.home i{
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 50%;
  transition: 0.5s ease-out;
}

.icons i:hover{
  background-color: #000;
  color: #fff;
}

.small_title{
  padding: 10px 0;
  border-bottom: 1px solid #000;
}

.col2 a , .col3 a{
  margin: 5px 0;
  transition: 0.5s ease-out;
}

.col2 a:hover , .col3 a:hover{
  font-weight: bold;
}

.col4 button{
  border: 1px solid #000;
  height: 150px;
  width: 150px;
  background-color: transparent;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.5s ease-in-out;
}

.col4 button:hover{
  background-color: #000;
  color: #eae2da;}
  @media screen and (max-width:1110px) {
    
  }
  @media screen and (min-width:300px) {
   .home-left{
    width: 50%;
    height: auto ;
   } 
   
   .home-right{
    width: 50%;
    height: auto;
   }
   
   .home{ 
    width: 100%;
   }

   .header-menu{
    width: 300px;
   }
    
  
  }